/data/jfeat/syncing-bot/scripts/send-etcd-to-kafka.py
/data/jfeat/syncing-bot/scripts/sync-etcd.py
/data/jfeat/syncing-bot/scripts/getFileList.py
/data/jfeat/syncing-bot/scripts/syncing.yaml
/data/jfeat/syncing-bot/scripts/syncDaemon.py
/data/jfeat/syncing-bot/scripts/etcdConfig.yaml
/data/jfeat/syncing-bot/scripts/fileList.config
/data/jfeat/syncing-bot/scripts/test.txt
/data/jfeat/syncing-bot/scripts/etcd-checksum-console.py
