/data/jfeat/syncing-bot/bin/sync-parts.sh
/data/jfeat/syncing-bot/bin/daemon.sh
/data/jfeat/syncing-bot/bin/start-cron.sh
/data/jfeat/syncing-bot/bin/send-kafka.sh
/data/jfeat/syncing-bot/bin/check-etcd.sh
/data/jfeat/syncing-bot/bin/readme.txt
/data/jfeat/syncing-bot/bin/sync-parts/sync-demo.smallsaas.cn.sh
/data/jfeat/syncing-bot/bin/sync-parts/sync-desk.hdqmjs.com.sh
